body{
    border:0px;
    margin:0px;
    padding:0px;
}
.hero-section
{
    /* width: 1440px; */
    width: 100%;
    height: 100vh;
    background-color:#E5E5E5;

}

/* -----------------navbar icons----------------- */

.hero-section nav
{
    display:flex;
}


nav   a 
{
    text-decoration: none;
    /* color: #0A58CA; */

}
nav ul
{
    display:flex;
}

nav ul li 
{
    list-style-type: none;
    
}


.logo a
{
    
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin: 53px 24px 200px 39px;
    line-height: 54px;
    color: #0A58CA;



}

.first-links
{
    margin-top: 35px;
}

.first-links a
{
    margin-right: 30px;
    color: #03193A;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.sec-links a
{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    
}

.sec-links li 
{
    /* margin-left: 367px;
    margin-right: 30px; */
    margin:30px 30px 88px 300px;

}

.sec-links li a
{
    color: #03193A;

}

.butn
{
    background-color: #0A58CA;
    color: #FAFDFF;
    width: 123px;
    height:46px;
    border-radius: 8px;
    border:0px;
    margin-top: 18px;
}

.butn a 
{
    color: #FAFDFF;
    text-decoration: none;

}

/* --------------------hero-text----------------- */

.hero-text
{
    margin-left: 80px;
    font-family: Segoe UI;
}
.hero-text h3
{
    color: #03193A;
   
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    /* margin-top: -px; */

}

.hero-text h3 span
{
    color:#0A58CA;
}

.hero-text p
{
   width: 400px;
   margin-top: -20px;
   height: 49px;
   font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;


}

/* .hero-img
{
    display: flex;
    float: right;
    margin-top:-340px;
    background:url(../Images/Vector.png )no-repeat;
    background-size: 350px;
    background-position: 20px 5px;
    height: 300px;
    padding-left: -55px;
    padding-top: 25px;
    padding-bottom:100px; 
} */

.hero-img

{
    float: right;
    display: flex;
    margin-top:-340px;
    position: relative;

}
.hero-img img
{
    /* padding-right: 50px; */
    /* width: 400px;
    height: 300px; */

}

.img1
{
    position: relative;
    width: 400px;
    height: 380px;
    right:10px;
}

.img2
{
    position: absolute;
    width: 390px;
    height: 320px;
    right:85px;
    top:20px;
    /* right:10px; */
    
}


/* ----------------section one--------------- */


.sec-one
{
    width: 100%;
    height: 100vh;
    background-color: #FAFDFF;
    margin-bottom: 0px;
}

.sec-title
{
    justify-content: center;
    align-items: center;
    display: flex;
}

.sec-title h3
{
    color:#052C65;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 64px;
/* identical to box height */

text-align: center;
}

.sec-info span 
{
    display:flex;
}

.section-p
{
    display: block;
}

.first-span div p
{
    display: block;
    width: 207px;
    height: 90px;
    font-family: Segoe UI;
    text-align: center;

}


.sec-span div p
{
    width: 297px;
    height: 90px;
    text-align: center;

}


.images
{
    width: 77px;
    height: 68px;
} 

.first-span 
{
    margin-top:-15px;
    margin-left: 70px;
}

.sec-info div
{
    text-align: center;
}

#div-one
{
    /* margin-right:100px; */
}

/* .sec-icon
{
    margin-top: -600px;

} */
#icon1
{ 
    margin-top: 70px;
    /* margin-left: 200px; */
    width: 300px;
    height: 60px;
}

.sec-span 
{
    margin-left: 300px;
    margin-top: -70px;
}

#icon2
{
    margin-left:-250px;
    margin-top:140px;
    width: 270px;
    height: 150px;
}

#icon3
{
    width: 270px;
    height: 120px;
    /* margin-left:-300px; */
    margin-top:40px;

}



/* ----------------sec2--------------- */
.sec-two
{
    height: 100vh;
    background-color:#FAFDFF;
    /* background-color: pink; */
    padding:1px;
    display:flex;
}

.sec2-first-div
{
    margin-top:50px;
    margin-left:120px;
}

.sec2-first-div-h3
{
    /* position: absolute; */
    width: 427px;
    height: 108px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 64px;
    color: #03193A;
}

.sec2-first-div p
{
    width: 330px;
    height: 230px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.sec2-first-div button
{
    border: 1px solid #0A58CA;
    box-sizing: border-box;
    border-radius: 5px;
    width:90px;
    height: 30px;
    margin-top:10px;
}

.sec2-first-div button a
{
    color:#0A58CA;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    text-decoration:none;
}

.sec2-sec-div
{
    display: block;
    /* margin: 50px 50px 10px 100px; */
    margin-top:50px;
    margin-left:97px;


}
.sec2-sec-div span
{
    display:flex;
}

.img-div
{
    width: 210px;
    height: 130px;
}

.img-div img
{
    width: 180px;
    height: 110px;
    border-radius:5px 5px 0px 0px;
    margin-bottom:0px;
    object-fit: cover;
    vertical-align: middle;
    /* padding:5px; */
    /* box-shadow: 10px 10px 10px 10px grey ; */
    /* -moz-box-shadow: inset -10px 0px 10px -10px rgb(192, 177, 177);
-webkit-box-shadow: inset -10px 0px 10px -10px rgb(192, 177, 177);
box-shadow: inset -10px 0px 10px -10px rgb(192, 177, 177); */
}

.img-div figcaption
{
    margin-top: 0px;
    height: 20px;
    background-color: #F5FBFF;
    text-align: center;
    width: 180px;
    border-radius:0px 0px 5px 5px;
    color:#03193A;
    font-size: 12px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    /* box-shadow: 5px 5px 10px 2px blue ; */
    -moz-box-shadow: inset -10px 0px 10px -10px #000;
    -webkit-box-shadow: inset -10px 0px 10px -10px #000;
    box-shadow: inset -10px 0px 10px -10px #000;
 
}


/* -----------------section three------- */
.sec-three
{
    height: 100vh;
    padding:1px;
    background-color:#0A58CA;
}

#why-why
{
    color:#FAFDFF;
}

.biggest-span
{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-gap: px;
    margin-left: 65px;
    justify-content: center;
}
.img-span
{
    display: flex;
    width:380px;
    height: 130px;
    /* margin-top: 10px; */
}

.img-span img 
{
    width:70px;
    height: 40px;
    margin-top: 20px;
    margin-right: 10px;
}


#smallest img
{
    width: 40px;
}

.img-span h4
{
    color: #FAFDFF;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 36px; */
}

.img-span p
{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 15px; */
    margin-top: -10px;
    color: #FAFDFF;
}

/* ---------------sec-four------------ */

.sec-four
{
    width: 100%;
    height: 70vh;
    display:flex;
    justify-content: center;
}

.sec4-img1
{
    position: relative;
    width: 450px;
    height: 280px;
    margin: 60px 90px 0px 70px ;
    /* right:10px; */
}


.sec4-img2
{
    position: absolute;
    width: 410px;
    height: 260px;
    left:205px;
    /* bottom: 00px; */
    margin-top:80px;
    
    
}

#h3-span
{
    color: #0A58CA;
}

.sec-four div p
{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    width: 350px;
    height: 220px;
   
    
}


/* ------------------sec-five-------------- */
.sec-five
{
    background-color:  #84c6f0;
    /* opacity: 0.24; */
    width: 100%;
    height: 80vh;
    position: relative;
    justify-content: center;
}

#id-five
{
    color:#03193A;
}

.sec5-text
{
    background-color: #FFFFFF;
    display:flex;
    position: absolute;
    height: 55%;
    width: 75%;
    border-radius:5px;
    margin-left:145px;

    
}

.sec5-text img
{
    width: 210px;
    height: 200px;
    margin-left:55px;
    margin-top:20px;

}
#quotes
{
    color: #CA680A;
    font-size:50px;
}

.sec5-text p
{
    width: 500px;
    height: 120px;
    margin-left: 62px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #052C65;
}

.last-sec
{
    background-color: #E5E5E5;
    width: 100%;
    height: 50vh;
    padding:0.1px;
    display:flex;
    /* margin-left: 30px; */
   
}

.last-sec-div
{
    margin-left: 100px;
    margin-right: 150px;
}

.last-sec h3
{
    color: #03193A;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    margin-top: 60px;

}

.last-sec p
{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.last-sec div button
{
    border: 1px solid #0A58CA;
    box-sizing: border-box;
    border-radius: 5px;
    width:90px;
    height: 30px;
    margin-top:10px;
}

.last-sec div button a
{
    text-decoration: none;
    color:#0A58CA;
}

.last-sec div img
{
    width: 250px;
    height: 285px;
}

/*----------------- footer------------------ */
.footer-footer
{
    height: 350px;
    width: 100%;
    background-color: #03193A;
    justify-content: center;
    align-items: center;
    display: flex;
   
}

.last-sec-grid
{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    /* grid-gap: 10px; */
    color: #fff;
    line-height: 35px;

}

.last-sec-grid h4
{
    margin-top: 9px;
    margin-bottom: 21px;
    margin-left: 40px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: left;


}

.last-sec-grid ul
{
    list-style-type: none ;
    
}

.last-sec-grid ul
{
    font-size: 14px;

}



