/* * {
  padding: 0px;
  margin: 0px; 
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.entire {
background: white;
}

.firstbody {
    margin-top: 0px;
    background:linear-gradient(url(../Images/sign.png) no-repeat);
    background-size: cover;
    mix-blend-mode: normal;
}

.bodily {
  position: relative;
  display: flex;
  flex-direction: row;
}

.secondbody {

  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.secondbody h1 {
 margin-left: 40px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.bodyP p {
  margin-left: 40px;
  margin-top: 15px;
  background-color: white;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.secondbody h3 {
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.userbutton {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  
}

.userbutton1 {
    width: 16px;
    height: 16px;
    margin-bottom: 15px;
    border: 1px solid black;
    margin-left: 15px;
    border-radius:8px;
    background-color: #1265e0;
}

.userbutton1 label {
  margin-left:20px;
}

.userbutton2 {
  width: 16px;
  height: 16px;
  margin-bottom: 15px;
  border: 1px solid black;
  margin-left: 45px;
  border-radius:8px;
}

.userbutton2 label {
  margin-left:20px;
}

.formalert form {
  display: flex;
  flex-direction: column;
}

.formalert input {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #03193a;
  box-sizing: border-box;
  padding: 10px;
}

.formalert button {
 margin-left: 40px;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  margin-bottom: 15px;
  background: #0A58CA;
font-size: 15px;
}
.formalert button [type="submit"] :hover{
  background: #03193A;
  align-items: center;

}
.privacy{
 margin-left: 50px;
    margin-bottom: 60px;
    width:400px;
    margin-top:15px ;
}
.safety{
    margin-left: 130px;   
}

.Error{
  color:red;
  margin-left: 35px;
  margin-top: 0;
  margin-bottom: 10px;
}